<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ushopp{% endblock %}</title>

        <!--Stylesheets global -->
        {% block stylesheets %}

           {{ encore_entry_link_tags('app') }}

        {% endblock %}

        <!--Stylesheets additionnals, optionnals. Example: Use on a specific view. -->
        {% block stylesheets_additionnals %}
        {% endblock %}

        <!-- Javascripts global(defer is automatically enabled)-->
        {% block javascripts %}

            {{ encore_entry_script_tags('app') }}

        {% endblock %}

        <!-- Javascripts  addtionnals, optionnals (defer is automatically enabled). Example: Use on a specific view.  -->
        {% block javascript_additionnals %}
        {% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
