<form method="post" action="{{ path('admin_product_enable', {'id': product.id}) }}" onsubmit="return confirm('{{ 'admin.product.enable'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('enable' ~ product.id) }}">
    <button class="btn btn-sm btn-secondary" title="{{ 'enable'|trans }}"><i class="fas fa-undo-alt"></i> </button>
</form>
